// Imports
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

// Variables
$primary-color: #4d17d2;
$pale-background: #fbf8f4;
$white-txt: #fff;
$white-background: #fff;

// Typography
* {
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
  letter-spacing: 0.4px;
}

p {
  line-height: 1.4;
}

// Layout
.layout {
  max-width: 1800px;
  margin: 0 auto;
}

.content-container {
  width: 85%;
  margin: 0 auto;
}

// Navbar
.navbar {
  background-color: $pale-background;
  padding-top: 30px;
  .content-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

// Main Header
.main-header {
  background-color: $pale-background;
  h1 {
    width: 70%;
    margin-top: 30px;
  }
  p {
    font-weight: 300;
  }
  .header-btns {
    display: flex;
    flex-direction: column;
  }
  .main-btn {
    background-color: $primary-color;
    color: $white-txt;
    padding: 20px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 600;
    text-align: center;
  }
  .secondary-btn {
    color: $primary-color;
    padding: 20px;
    border-radius: 8px;
    text-decoration: underline 2px;
    font-weight: 600;
    text-align: center;
  }
  .checkmark-section {
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
    .checkmark {
      margin-right: 10px;
    }
    .checkmark-div {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: 10px;
      p {
        margin: 0;
      }
    }
  }
}

// Why Fiber
.why-fiber {
  margin-top: 60px;
  header {
    margin-bottom: 60px;
  }
  h4 {
    margin-bottom: 15px;
    color: $primary-color;
    font-size: 1.1rem;
  }
  h2 {
    font-size: 1.9rem;
    width: 91%;
  }
  .features-section {
    margin-bottom: 40px;
    .features-heading {
      margin-top: 10px;
      font-weight: 600;
    }
    .features-content {
      font-weight: 300;
    }
  }
}

// Diversify
.diversify {
  .content-container {
    background-color: $primary-color;
    color: $white-txt;
    border-radius: 8px;
    padding: 40px 30px 0 30px;
    h2 {
      font-size: 1.8rem;
    }
    p {
      font-weight: 300;
      width: 90%;
    }
  }
  .diversify-btn {
    background-color: $white-background;
    color: $primary-color;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    text-decoration: none;
  }
  .page-image {
    margin-top: 30px;
    border-radius: 8px 8px 0 0;
  }
  .page-image-two {
    background-image: url("../images/page-image.png");
    background-position: center;
    background-size: cover;
    height: 300px;
    border-radius: 8px 8px 0 0;
    margin-top: 30px;
  }
}

// Porfotlios
.portfolios {
  margin-top: 60px;
  .port-card {
    display: grid;
    grid-template-columns: 60px 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "img info"
      "userContent userContent"
      "btn btn";
    border: 1.8px solid lightgray;
    border-radius: 8px;
    padding: 10px 20px 20px;
    margin-bottom: 30px;
    .user-img {
      grid-area: img;
      width: 50px;
      height: 50px;
      align-self: center;
    }
    .user-info {
      grid-area: info;
      .name {
        color: $primary-color;
        font-weight: 500;
        margin-bottom: 0;
      }
      .revenue {
        font-weight: 300;
        margin-top: 0;
      }
    }
    .user-content {
      grid-area: userContent;
      font-weight: 300;
    }
    .user-btn {
      grid-area: btn;
      padding: 20px;
      border: 1.8px solid lightgray;
      border-radius: 8px;
      color: $primary-color;
      text-decoration: none;
      font-weight: 600;
      text-align: center;
    }
  }
}
